@model QuranX.Web.Views.DictionaryEntry.ViewModel
@{
	ViewBag.Title = $"{Model.ArabicWord} according to {Model.Dictionary.Name}";
}
<h1>Arabic dictionary</h1>
<h2>Dictionary @Model.Dictionary.Name</h2>
<h3>Word <span class="arabic">@Model.Entries.First().Word</span></h3>
<div class="dictionary__details">
	@foreach (var entry in Model.Entries)
	{
			foreach (string html in entry.Html)
			{
			<p>
				@Html.Raw(html)
			</p>
			}
	}
</div>
<div class="dictionary__copyright">
	@Model.Dictionary.Copyright
</div>

