@model QuranX.Web.Views.DictionaryEntry.ViewModel
@{
	ViewBag.Title = $"{Model.Entry.Word} according to {Model.Dictionary.Name}";
}
<h1>Arabic dictionary</h1>
<h2>Dictionary @Model.Dictionary.Name</h2>
<h3>Word <span class="arabic">@Model.Entry.Word</span></h3>
<div class="dictionary__details">
	@foreach (string html in Model.Entry.Html)
	{
		<p>
			@Html.Raw(html)
		</p>
	}
</div>
<div class="dictionary__copyright">
	@Model.Dictionary.Copyright
</div>

