@using QuranX.Web.Views.HadithIndex
@model HadithIndexHeaderViewModel

<h1>Hadith collection</h1>
<h2>
	<a href="/Hadith/@Model.Collection.Code/@Model.Collection.PrimaryReferenceCode">
		@Model.Collection.Name
	</a>
	@{
		string urlSoFar = $"/Hadith/{Model.Collection.Code}/{Model.Collection.PrimaryReferenceCode}/";
		foreach (string urlPart in Model.IndexPartsAndValues)
		{
			urlSoFar += urlPart + "/";
			<span> / </span><a href="@urlSoFar">@urlPart</a>
		}
	}
</h2>

