@using QuranX.Web.Views.HadithIndex
@using QuranX.Persistence.Models
@model HadithsViewModel

@{
	ViewBag.Title = $"{Model.HadithIndexHeaderViewModel.Collection.Name} Hadiths";
}

@Html.Partial("HadithIndexHeader", Model.HadithIndexHeaderViewModel)
@foreach(Hadith hadith in Model.Hadiths)
{
	<div>
		@foreach(string text in hadith.EnglishText)
		{
			<p>@text</p>
		}
		@foreach(string text in hadith.ArabicText)
		{
			<p>@text</p>
		}
	</div>
}
