@using QuranX.Web.Models
@model CommentariesForVerse

@{
    ViewBag.Title = $"Commentaries for {Model.Chapter.ChapterNumber}.{Model.VerseNumber}";
}

<h1>The Quran</h1>
<h2>
	Commentaries for <a href="/@Model.Chapter.ChapterNumber.@Model.VerseNumber">
		@Model.Chapter.ChapterNumber.@Model.VerseNumber
	</a>
</h2>
<h3>@Model.Chapter.EnglishName - <span dir="rtl">@Model.Chapter.ArabicName</span></h3>
@{
    await Html.RenderPartialAsync("SelectChapterAndVerse", Model.SelectChapterAndVerse);
    foreach (CommentatorAndCommentary commentatorAndCommentary in Model.Commentaries)
    {
        await Html.RenderPartialAsync("CommentaryView", commentatorAndCommentary);
    }
}
@{ await Html.RenderPartialAsync("Adverts"); }