@using QuranX.Web.Views.HadithIndex
@using QuranX.Web.Views.Shared
@model HadithsViewModel

@{
    string hadithsTitle = Model.Hadiths.Count == 1 ? "hadith" : "hadiths";
    ViewBag.Title = $"{Model.HadithIndexHeaderViewModel.Collection.Name} Hadiths";
}

@{
    Html.RenderPartial("HadithIndexHeader", Model.HadithIndexHeaderViewModel);
    if (@Model.Hadiths.Count() != 1)
    {
	<h4 class="hadith__reference-count">@Model.Hadiths.Count() @hadithsTitle</h4>
    }
}
@{
    foreach (HadithViewModel hadithVM in Model.Hadiths)
    {
        Html.RenderPartial("HadithView", hadithVM);
    }
}
@{ Html.RenderPartial("Adverts"); }
