@model QuranX.Web.Views.DictionaryEntry.ViewModel
@{
    ViewBag.Title = $"{Model.ArabicWord} according to {Model.Dictionary.Name}";
}
<h1>Arabic dictionary</h1>
<partial name="DictionaryEntryView" model=Model />


