@model QuranX.Web.Views.VerseAnalysis.ViewModel

@{
	ViewBag.Title = $"Analysis for Quran verse {Model.Chapter.ChapterNumber}.{Model.VerseNumber}";
}

<h1>The Quran</h1>
<h2>
	Analysis of <a href="/(Model.Chapter.ChapterNumber).@Model.VerseNumber">
		@(Model.Chapter.ChapterNumber).@Model.VerseNumber
	</a>
</h2>
<h3>
	@Model.Chapter.EnglishName - @Model.Chapter.ArabicName
</h3>

