/*
	Colors:
		Header border
			hsl(70, 48%, 40%);

		Title bar
			hsl(40, 94.7%, 92.5%);
		Title bar shadow
			hsl(40, 94.7%, 92.5%);
		Title bar text
			hsl(31, 63.2%, 56.3%);
		Title bar sub text
			hsl(204, 100%, 51.5%);

		H1
			hsl(69, 39.2%, 44.5%);
		H2
			hsl(69, 41.4%, 48.8%);
		H3+
			hsl(67, 45.7%, 61.0%);

		Striped 1
			hsl(0, 0%, 93.3%);
		Striped 2
			hsl(0, 0%, 100.0%);

		Tab
			hsl(0, 0%, 86.77%);
		Tab text
			hsl(0, 0%, 26.7%);
		Tab selected
			hsl(67, 45.7%, 61.0%);
		Tab text hover/active
			hsl(70, 48%, 40%);

		Link hover/active
			hsl(67, 46%, 61%);
			
		Highlight
			hsl(69, 99.2%, 54.5%);
		Highlight text
			hsl(0, 0%, 26.7%);
*/
:root {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.highlight {
	/*Col:Highlight*/
	background-color: hsl(69, 99.2%, 54.5%);
	/*Col:Highlight text*/
	color: hsl(0, 0%, 26.7%);
	font-weight: bold;
	padding: 4px 0px;
}

#donate-container {
	position: fixed;
	top: 0;
	right: calc(50% - 4em);
	width: 8em;
	height: 8em;
	display: flex;
	padding: 0;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	background-color: hsl(67, 45.7%, 61.0%);
	border-radius: 50%;
	border: 4px solid white;
	overflow: hidden;
}

@media (min-width: 768px) {
	#donate-container {
		right: 0;
	}
}

#donate-container a {
	text-decoration: none;
}

#donate-container .subhan-Allah {
	position: absolute;
	margin-left: -40%;
	margin-top: -40%;
	opacity: 0.2;
	top: 50%;
	left: 50%;
	height: 80%;
	z-index: -1;
	animation-name: pulse-subhan-Allah;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes pulse-subhan-Allah {
	0% {
		opacity: 0.7;
		transform: scale(1);
	}

	50% {
		opacity: 0.7;
		transform: scale(1);
	}

	80% {
		opacity: 1;
		transform: scale(1.025);
	}

	90% {
		opacity: 1;
		transform: scale(1.025);
	}

	100% {
		opacity: 0.7;
		transform: scale(1);
	}
}

#donate-container .donate-text {
	color: white;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
}


.arabic {
	font-size: 1.5em;
	vertical-align: bottom;
	direction: rtl;
	padding: 0;
	margin: 0;
	margin-right: 0.5rem;
	font-weight: 100;
	vertical-align: sub;
}

.verse__translation.arabic-container > dd {
	padding: 0em 2rem 0rem 2rem;
	margin: 0.5rem 0 -0.25rem 0;
}

.striped > * {
	/* Col:Striped 1*/
	background-color: hsl(0, 0%, 93.3%);
}

	/* Col:Striped 2*/
	.striped > *:nth-child(2n) {
		background-color: hsl(0, 0%, 100.0%);
	}

.quranx.navbar {
	background-image: url(/Images/HeaderRepeat.jpg);
	font-weight: bold;
	border: none;
}

.quranx.navbar-header {
	background-image: url(/Images/HeaderRepeat.jpg);
}

.quranx.navbar-collapse {
	background-image: url(/Images/HeaderRepeat.jpg);
	border: none;
}

.quranx.navbar-toggle {
	/* Col:H1 */
	background-color: hsl(69, 39.2%, 44.5%);
	color: white;
}

	/* Col:H2 */
	.quranx.navbar-toggle:hover {
		background-color: hsl(69, 41.4%, 48.8%);
		color: white;
	}

	/* Col:H2 */
	.quranx.navbar-toggle:focus {
		background-color: hsl(69, 41.4%, 48.8%);
		color: white;
	}

.navbar a {
	color: white !important;
	text-decoration: none;
}

.hadith-index__list {
	padding: 0;
	list-style: none;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	-ms-column-count: 1;
	column-count: 1;
}

	.hadith-index__list.collapsing {
		transition-duration: 0s;
	}

	.hadith-index__list li {
		margin: 0 2rem;
	}

@media (min-width: 20rem) {
	.hadith-index__list {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		-ms-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 30rem) {
	.hadith-index__list {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		-ms-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 40rem) {
	.hadith-index__list {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		-ms-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 50rem) {
	.hadith-index__list {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		-ms-column-count: 5;
		column-count: 5;
	}
}

@media (min-width: 60rem) {
	.hadith-index__list {
		-webkit-column-count: 6;
		-moz-column-count: 6;
		-ms-column-count: 6;
		column-count: 6;
	}
}

@media (min-width: 70rem) {
	.hadith-index__list {
		-webkit-column-count: 7;
		-moz-column-count: 7;
		-ms-column-count: 7;
		column-count: 7;
	}
}

@media (min-width: 80rem) {
	.hadith-index__list {
		-webkit-column-count: 8;
		-moz-column-count: 8;
		-ms-column-count: 8;
		column-count: 8;
	}
}

@media (min-width: 90rem) {
	.hadith-index__list {
		-webkit-column-count: 9;
		-moz-column-count: 9;
		-ms-column-count: 9;
		column-count: 9;
	}
}

@media (min-width: 100rem) {
	.hadith-index__list {
		-webkit-column-count: 10;
		-moz-column-count: 10;
		-ms-column-count: 10;
		column-count: 10;
	}
}


.chapter-and-verse-selector {
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	width: 100%;
	/*Col:Tab text*/
	color: hsl(0, 0%, 26.7%);
	/*Col:Tab*/
	background-color: hsl(0, 0%, 86.77%) !important;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
}

@media (min-width: 768px) {
	.chapter-and-verse-selector {
		width: 740px;
	}
}

.chapter-and-verse-selector .control-label {
	margin-top: 0.75rem;
	vertical-align: middle;
}


.chapter-and-verse-selector__navigator-buttons {
	margin: 0 1.25rem;
}

@media (min-width: 768px) {
	.chapter-and-verse-selector__navigator-buttons {
		float: right;
	}
}

@media (max-width: 767px) {
	.chapter-and-verse-selector__navigator {
		text-align: center;
	}
}

.chapter-and-verse-selector__navigator-buttons .btn {
	margin: 4px 0 -4px 0;
	width: 9rem;
	border: 1px solid black;
}

.search__criteria {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	width: 100%;
	/*Col:Tab text*/
	color: hsl(0, 0%, 26.7%);
	/*Col:Tab*/
	background-color: hsl(0, 0%, 86.77%) !important;
	padding: 0.5em 1rem;
	border-radius: 0.25rem;
	width: 22em;
}

	.search__criteria > *:not(:last-child) {
		margin-bottom: 0.25rem;
	}

.search__result-number {
	width: 2rem;
	display: inline-block;
}

dl.search__result > dt {
	/* Col:Striped 1*/
	background-color: hsl(0, 0%, 93.3%);
}

.btn.dropdown-toggle {
	/*Col:H2*/
	background-color: hsl(69, 41.4%, 48.8%);
	color: white;
}

.verse-analysis__word-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

	.verse-analysis__word-list > li {
		padding: 0.5rem;
		margin: 0;
		margin-bottom: 0.25rem;
	}

.verse-analysis__word-text-buckwalter {
	font-variant: small-caps;
	font-weight: bold;
	margin-top: 0.25rem;
}

.verse-analysis__word-text-english {
	font-style: italic;
}

.verse-analysis__word-part-list {
	list-style-position: inside;
}

.hadithcollection__collection-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

	.hadithcollection__collection-list > li {
		padding: 0.25rem;
	}

.commentary__commentator-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

	.commentary__commentator-list > li {
		padding: 0.25rem;
	}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	padding: 0;
	margin: 0.25em 0;
}

h1 {
	/*Col:H1*/
	color: hsl(69, 39.2%, 44.5%);
}

h2 {
	/*Col:H2*/
	color: hsl(69, 41.4%, 48.8%);
}

h3, h4, h5, h6 {
	/*Col:H3+*/
	color: hsl(67, 45.7%, 61.0%);
}

@media(max-width: 480px) {
	.commentary__commentator-list > li {
		margin-bottom: .25rem;
	}
}

@media(max-width: 450px) {
	h1 {
		font-size: 1.75rem;
		font-weight: bold;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: bold;
	}

	h3 {
		font-size: 1.25rem;
		font-weight: bold;
	}
}

@media(max-width: 550px) {
	h1 {
		font-size: 2rem;
		font-weight: bold;
	}

	h2 {
		font-size: 1.75rem;
		font-weight: bold;
	}

	h3 {
		font-size: 1.5rem;
		font-weight: bold;
	}
}

dl.count-and-label {
	/*Col:Title bar text*/
	color: hsl(31, 63.2%, 56.3%);
	/*Col:Title bar*/
	background-color: hsl(40, 94.7%, 92.5%);
	padding: 0.25em 0.5rem;
	border-radius: 0.5rem;
	border: none;
	margin: 0px;
	margin-right: 0.5rem;
	font-size: 0.75rem;
	display: inline-block;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

	dl.count-and-label dt {
		/*Col:Title bar sub text*/
		color: hsl(204, 100%, 51.5%);
		font-weight: normal;
		font-size: 0.75rem;
		text-align: center;
		margin: 0px;
		padding: 0px;
	}

	dl.count-and-label dd {
		font-weight: bold;
		font-size: 1.25rem;
		text-align: center;
		margin: 0px;
		padding: 0px;
	}

dl > dd:not(:first-child) {
	margin-top: 0.5rem;
}

.boxed {
	border: 2px solid #ddd;
	border-radius: 0.5rem;
	box-shadow: #f0f0f0 5px 5px;
	padding: 2px;
}

dl.boxed > dt {
	padding: 0.25em 0.5rem;
}

dl.boxed > dd {
	padding: 0 0.5em 0.5em 0.5rem;
}

.verse__reference {
	display: inline-block;
	width: auto;
	/*Col:Title bar text*/
	color: hsl(31, 63.2%, 56.3%);
	/*Col:Title bar*/
	background-color: hsl(40, 94.7%, 92.5%);
	padding: 0.25em 0.5rem;
	border-radius: 0.5rem;
	font-size: 2rem;
	font-weight: bold;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.verse__statistics {
	margin: 0.5em 0.5em 0.5em 0;
	display: inline-flex;
	align-items: center;
}

	.verse__statistics > * {
		margin-right: 0.25rem;
	}

.verse__translations {
	margin-bottom: 1rem;
}

.verse__translation {
	margin: 0.25em 0 0.75em 0;
}

	.verse__translation > dt {
		/*Col:Title bar sub text*/
		color: hsl(204, 100%, 51.5%);
		/*Col:Title bar*/
		background-color: hsl(40, 94.7%, 92.5%);
		font-weight: bold;
		position: relative;
		padding-left: 1.5em !important;
		cursor: pointer;
	}

		.verse__translation > dt::before {
			content: "X";
			display: inline-block;
			margin: 0 0.5em 0 -1rem;
			border: 1px solid;
			/*Col:Tab text*/
			color: hsl(0, 0%, 26.7%);
			/*Col:Tab*/
			border-color: hsl(0, 0%, 86.77%);
			padding: 0.25rem;
		}

	.verse__translation > dd {
		padding: 0 1em 0 2.5rem;
	}

.verse__translation-hidden-items {
	padding: 0.25rem;
}

.verse__translation-hidden-item {
	display: none;
	/*Col:Title bar sub text*/
	color: hsl(204, 100%, 51.5%);
	/*Col:Title bar*/
	background-color: hsl(40, 94.7%, 92.5%);
	padding: 0.5rem;
	margin: 0.1rem;
	cursor: pointer;
	font-size: 0.75rem;
	border-radius: 0.25rem;
}

	.verse__translation-hidden-item:before {
		content: '+';
	}


.hadith-reference-list {
	margin: 0.5em 0 1em 0;
}

@media(max-width: 30rem) {
	.hadith-reference-list__item {
		display: block;
		float: none !important;
		border-radius: 0px !important;
	}

		.hadith-reference-list__item:first-child {
			display: block;
			border-radius: 4px 4px 0px 0px !important;
		}

		.hadith-reference-list__item:last-child {
			display: block;
			border-radius: 0px 0px 4px 4px !important;
		}
}

.hadith-reference-list__item {
	/*Col:Tab text*/
	color: hsl(0, 0%, 26.7%);
	/*Col:Tab*/
	background-color: hsl(0, 0%, 86.77%);
	font-weight: bold;
	font-size: 1.25rem;
	text-decoration: none;
}

	.hadith-reference-list__item.selected {
		/*Col:Tab selected*/
		background-color: hsl(67, 45.7%, 61.0%);
	}

		.hadith-reference-list__item.selected:hover {
			/*Col:Tab selected*/
			background-color: hsl(67, 45.7%, 61.0%);
		}

		.hadith-reference-list__item.selected:active {
			/*Col:Tab selected*/
			background-color: hsl(67, 45.7%, 61.0%);
		}

	.hadith-reference-list__item:active {
		/*Col:Tab selected*/
		color: hsl(70, 48%, 40%);
		/*Col:Tab*/
		background-color: hsl(0, 0%, 86.77%);
	}

	.hadith-reference-list__item:hover {
		/*Col:Tab selected*/
		color: hsl(70, 48%, 40%);
		/*Col:Tab*/
		background-color: hsl(0, 0%, 86.77%);
	}

.hadith {
	border: 1px solid hsl(208, 37%, 43%);
	margin-bottom: 2rem;
	border-radius: 4px;
	padding: 2px;
}

.hadith__reference-count {
	/*Col:H1*/
	color: hsl(69, 39.2%, 44.5%);
	font-weight: bold;
}

.hadith__text {
	padding: 0.25rem;
	margin: 0px;
	padding: 1rem;
}

	.hadith__text > p {
		margin: 0px;
	}

	.hadith__text.arabic {
		/*Col:Striped 1*/
		background-color: hsl(0, 0%, 93.3%);
		text-align: right;
		padding: 0.5rem 0.5rem 0px 0.5rem;
	}

.hadith__references {
	/*Col:Striped 1*/
	background-color: hsl(0, 0%, 93.3%);
	padding: 1rem;
}

.hadith__reference {
}

.hadith__reference-name {
	font-weight: bold;
}

.hadith__reference-verse-caption {
	font-weight: bold;
	vertical-align: top;
}

.hadith__reference-verse-numbers {
	list-style: none;
	padding: 0;
	margin: 0;
}

	.hadith__reference-verse-numbers > li {
		display: inline-block;
		width: 4rem;
	}

@media(max-width: 549px) {
	.hadith__reference-verse-caption {
		margin-top: 0.5rem;
	}

	.hadith__reference-verse-numbers {
		margin-left: 2rem;
	}
}

@media(min-width: 550px) {
	.hadith__reference-verse-caption {
		display: inline-block;
		width: 18rem;
	}

	.hadith__reference-verse-numbers {
		display: inline-block;
	}
}


@media(max-width: 549px) {
	.hadith__reference-name {
		margin-top: 0.5rem;
	}

	.hadith__reference-value {
		margin-left: 2rem;
	}
}

@media(min-width: 550px) {
	.hadith__reference-name {
		display: inline-block;
		width: 18rem;
	}

	.hadith__reference-value {
		display: inline-block;
	}
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.root-analysis__group {
	border-radius: 0.25rem;
	margin-bottom: 1.5rem;
}

	.root-analysis__group .word-type {
		padding: 4px;
		text-transform: capitalize;
	}

	.root-analysis__group .word-form {
		font-size: 1.25rem;
		font-style: italic;
		vertical-align: middle;
		display: inline-block;
		vertical-align: top;
		padding-top: 0.1rem;
	}

	.root-analysis__group h3 {
		text-align: left;
		margin-left: 2rem;
		padding: 4px;
		/*Col:Title bar*/
		background-color: hsl(40, 94.7%, 92.5%);
		/*Col:Title bar text*/
		color: hsl(31, 63.2%, 56.3%);
	}

.root-analysis__extract-list {
	list-style: none;
}

.root-analysis__extract {
	padding: 0.5rem;
	margin-right: 0.25rem;
}

	.root-analysis__extract .word-number {
		font-size: 0.75rem;
	}

@media(max-width: 1200px) {
	.root-analysis__extract-text {
		margin: 1em 0 1em 0;
		text-align: center;
	}
}

.root-analysis__dictionaries-title {
	text-align: left;
	margin-left: 2rem;
	padding: 4px;
	/*Col:Title bar*/
	background-color: hsl(40, 94.7%, 92.5%);
	/*Col:Title bar text*/
	color: hsl(31, 63.2%, 56.3%);
}

.root-analysis__dictionary-list {
	list-style: none;
}

.dictionary__details {
	margin: 1rem;
	line-height: 3rem;
}

	.dictionary__details > * {
		float: left;
		display: inline-block;
	}

.dictionary__details--Lane .sense {
	padding: 0.25rem 1rem;
	margin: 0rem 0.5rem 0rem 1rem;
	border-radius: 1rem;
	font-variant: small-caps;
	text-align: center;
	display: inline-block;
	min-width: 8em;
	font-weight: bold;
	/*Col:Title bar shadow*/
	border: solid 2px hsl(40, 94.7%, 85%);
	background-color: hsl(40, 94.7%, 92.5%);
}

.dictionary__details--Lane .sub-sense {
	padding: 0 .5rem;
	border-radius: 1rem;
	font-variant: small-caps;
	clear: both;
	display: inline-block;
	width: 4em;
	margin-left: 2em;
	text-align: center;
	/*Col:Title bar shadow*/
	border: solid 2px hsl(40, 94.7%, 85%);
	background-color: hsl(40, 94.7%, 92.5%);
}

.dictionary__details abbr {
	/*Col:H1*/
	color: hsl(69, 39.2%, 44.5%);
}

.dictionary__copyright {
	clear: both;
	border: 1px solid black;
	border-radius: 0.25rem;
	margin: 1rem;
	padding: 1rem;
}

.small-caps {
	font-variant: small-caps;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 8em;
	padding-top: 4em;
}

@media (min-width: 768px) {
	.body-content {
		padding-top: 0em;
	}
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

a {
	text-decoration: underline dotted;
}

dl.about > dt, dl.search-tips > dt {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	/*Col:H2*/
	color: hsl(69, 41.4%, 48.8%);
}

dl.about > dd, dl.search-tips > dd {
	margin: 0 0 1rem 0;
	padding: 0;
	padding-left: 1rem;
}

dl.about > dt {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}

dl.about > dd {
	margin: 0 0 1rem 1rem;
	padding: 0;
}

.help-list {
	padding: 0;
	list-style: none;
	line-height: 2rem;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.5) 2px 2px;
}

	.help-list > li {
		padding: 0px;
		/*Col:Tab*/
		background-color: hsl(0, 0%, 86.77%);
	}

		.help-list > li .header {
			font-weight: bold;
			padding-left: 1rem;
		}

		.help-list > li > ul {
			list-style: none;
			background-color: white;
		}

			.help-list > li > ul > li {
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}

				.help-list > li > ul > li:last-child {
					border: none;
				}

	.help-list label {
		display: inline-block;
		width: 10rem;
	}

	.help-list em {
		background-color: #ffffcc;
		padding: 0.25rem;
		text-decoration: none;
		font-style: normal;
		font-weight: bold;
		text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
		border: 1px solid black;
	}

.adverts {
	margin: 2rem 0 1rem 0;
	border: 1px solid black;
	border-radius: 1rem;
	background-color: hsl(0, 0%, 93.3%);
	text-align: center;
}

.dictionary-entries__main-container {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.dictionary-entries__words-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-top: 9rem;
}

.dictionary-entries__word {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	align-items: center;
	border: 1px solid hsl(69, 39.2%, 44.5%);
	border-radius: 8px;
	text-decoration: none;
	white-space: nowrap;
}

.dictionary-entries__entries-container {
	display: flex;
	flex-direction: column;
	gap: 2em;
	width: 100%;
}

.dictionary-entries__entry {
	border: 1px solid hsl(69, 39.2%, 44.5%);
	padding: 2em;
	border-radius: 2em;
}
