@using QuranX.Web.Models
@using QuranX.Shared.Models
@model CommentatorAndCommentary

@{
	var verse = new VerseRangeReference(Model.Commentary.ChapterNumber, Model.Commentary.FirstVerseNumber, Model.Commentary.LastVerseNumber);
	string verseCaption = verse.IsMultipleVerses() ? "verses" : "verse";
}
<div>
	<dl class="boxed">
		<dt>
			<a href="/@verse"><span class="verse-reference">@verse</span></a>
			@Model.Commentator.Code - @Model.Commentator.Description
		</dt>
		@foreach (string text in Model.Commentary.Text)
		{
			<dd>@text</dd>
		}
	</dl>
</div>

