@using QuranX.Web.Views.VerseCommentary
@using QuranX.Shared.Models
@model ViewModel

@{
	var verse = new VerseRangeReference(Model.CommentatorAndCommentary.Commentary.ChapterNumber, Model.CommentatorAndCommentary.Commentary.FirstVerseNumber, Model.CommentatorAndCommentary.Commentary.LastVerseNumber);
	string verseCaption = verse.IsMultipleVerses() ? "verses" : "verse";
	ViewBag.Title = Model.CommentatorAndCommentary.Commentator.Description + $" commentary for {verseCaption} {verse}";
}
<h1>Verse commentary</h1>
@Html.Partial("SelectChapterAndVerse", Model.SelectChapterAndVerse)
@Html.Partial("CommentaryView", Model.CommentatorAndCommentary)
