@model IEnumerable<QuranX.DocumentModel.Chapter>

@{
    ViewBag.Title = "Quran Chapters";
}

@section head_meta {
	<meta name="description" content="All chapters of The Quran" />
	<meta property="og:description" content="All chapters of The Quran" />
}

<hgroup>
    <h1>The Quran</h1>
    <h2>All chapters</h2>
</hgroup>

<ol class="largeNumberedList">
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.EnglishName, "Verse", new { Chapter = item.Index, Verse = 1, LastVerse = -1 })
        </li>    
    }
</ol>

@section topsidebar
{
	@Html.Partial("ChapterVerseQuickJump")
}
