@model IEnumerable<QuranX.DocumentModel.ChapterAndVerse>

@{
    ViewBag.Title = "Quran - Multiple verses";
}
@section head_meta {
    <meta name="robots" content="noindex" />
	<meta name="description" content="Quran verses @ViewBag.VerseReferences" />
	<meta property="og:description" content="Quran verses @ViewBag.VerseReferences" />
}
@section sidebar
{
    @Html.Partial("TranslationOptions")
}

<hgroup>
    <h1>The Quran</h1>
    <h2>Multiple verses</h2>
</hgroup>

@Html.Partial("VersesView", Model)

