@using QuranX.Shared
@model QuranX.Web.Views.Dictionaries.DictionaryListViewModel
@{
    ViewBag.Title = "Dictionaries";
}
<div class="dictionary-entries__main-container">
    <div class="dictionary-entries__words-container striped">
        @if (!string.IsNullOrWhiteSpace(Model.ParentRoot))
        {
            <a href=@($"/Dictionaries/{Model.ParentRoot}") class="dictionary-entries__word">
                <div class="arabic">@Model.ParentRoot &#8598;</div>
                <div>@ArabicHelper.ArabicToLetterNames(Model.ParentRoot)</div>
            </a>
        }
        else
        {
           if (!string.IsNullOrWhiteSpace(Model.CurrentRoot))
           {
            <a href=@($"/Dictionaries/") class="dictionary-entries__word">
                <div class="arabic">All &#8598;</div>
            </a>
           }
        }

        @foreach (string childRoot in Model.ChildRoots)
        {
            <a href=@($"/Dictionaries/{childRoot}") class="dictionary-entries__word">
                <div class="arabic">@childRoot</div>
                <div>@ArabicHelper.ArabicToLetterNames(childRoot)</div>
            </a>
        }
    </div>

    <div class="dictionary-entries__entries-container">
        <h1>Dictionary entries</h1>
        @if (!Model.DictionaryEntries.Any())
        {
            @if (string.IsNullOrWhiteSpace(Model.CurrentRoot))
            {
                <h2>
                    Choose a root from the selection on the left.
                </h2>
            }
            else
            {
                <h2>
                    There are no entries for this root.
                </h2>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ParentRoot))
            {
                <h3>
                    Try the <a href=@($"/Dictionaries/{Model.ParentRoot}")>parent root</a>
                    @if (Model.ChildRoots.Any())
                    {
                        <Text>- or select one of the child roots.</Text>
                    }
                </h3>
            }
        }
        @foreach (var entry in Model.DictionaryEntries)
        {
            <div class="dictionary-entries__entry">
                <partial name="DictionaryEntryView" model=entry />
            </div>
        }
    </div>
</div>