<div class="adverts">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Root -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6337099070533954"
         data-ad-slot="8440797268"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>