
@{
	ViewBag.Title = "About QuranX.com";
}

<h1>@ViewBag.Title</h1>
<p>This website was created in order to collate various Islamic sources into a single cross-referenced location. This project could not have succeeded without standing on the shoulders of giants. Thanks go to the following projects.</p>

<dl class="about">
	<dt>Quran.com</dt>
	<dd>
		For making their word-by-word Arabic analysis open-source so that it
		may be used by others without charge.
		<a href="https://quran.com/" target="_blank">Click here</a>
	</dd>
	<dt>Tanzil project</dt>
	<dd>
		For providing Arabic text of the Quran and various English translations
		and for making those resources freely available.
		<a href="http://tanzil.net/wiki/Resources" target="_blank">Click here</a>
	</dd>
	<dt>AlTafsir.com</dt>
	<dd>
		For giving kind permission to reproduce their tafsirs.
		<a href="https://altafsir.com/" target="_blank">Click here</a>
	</dd>
	<dt>
		This website is open-source
	</dt>
	<dd>
		This website and its data are part of an ongoing open-source project.
		<a href="https://github.com/QuranX/QuranX" target="_blank">Click here</a>
	</dd>
</dl>

