@model QuranX.Web.Views.VerseHadiths.ViewModel
@using QuranX.Web.Views.Shared

@{
	ViewBag.Title = $"Hadiths for {Model.Chapter.ChapterNumber}.{Model.VerseNumber}";
}
<h1>The Quran</h1>
<h2>
	Hadiths for <a href="/@(Model.Chapter.ChapterNumber).@Model.VerseNumber">
		@(Model.Chapter.ChapterNumber).@Model.VerseNumber
	</a>
</h2>
<h3>@Model.Chapter.EnglishName - @Model.Chapter.ArabicName</h3>
@foreach (HadithViewModel hadithVM in Model.Hadiths)
{
	@Html.Partial("HadithView", hadithVM)
}