@{
    ViewBag.Title = "About";
}

@section head_meta {
	<meta name="description" content="About QuranX.com" />
	<meta property="og:description" content="About QuranX.com" />
}

<h2>About this website</h2>

<section>
	<p>
		This website was created in order to collate various Islamic sources
		into a single cross-referenced location.  This project could not have
		succeeded without standing on the shoulders of giants.  Thanks go to
		the following people.
	</p>
	<dl>
		<dt><a href="http://Quran.com" target="_blank">Quran.com</a></dt>
		<dd>
			For making their word-by-word Arabic analysis open-source so that it
			may be used by others without charge.
		</dd>
		<dt>
			<a href="http://tanzil.net/wiki/Resources" target="_blank">Tanzil project</a>
		</dt>
		<dd>
			For providing Arabic text of the Quran and various English translations
			and for making those resources freely available.
		</dd>
		<dt>
			<a href="http://altafsir.com" target="_blank">AlTafsir.com</a>
		</dt>
		<dd>
			For giving kind permission to reproduce their tafsirs.
		</dd>
		<dt>
			This website is open-source
		</dt>
		<dd>
			This website and its data are part of an ongoing open-source project. <a href="https://github.com/QuranX/QuranX">Click here to download from GitHub</a>.
		</dd>
	</dl>
</section>
